# Server settings
SERVER_PORT=5555
SERVER_TIMEOUT=30000
SERVER_VERBOSE=false

# Client settings
CLIENT_SERVER_URL="http://localhost:5555"
CLIENT_TARGET_URL="http://localhost:3000/webhook"
CLIENT_TIMEOUT=5000
CLIENT_RETRY=5
CLIENT_PING=30000
CLIENT_KEEP_ALIVE=false
CLIENT_VERBOSE=false